const apiKey = 'YOURAPIKEY';
const remoteUrl = 'http://api.eventful.com/json/';


export default API = {
    categories: () => {
        return fetch(`${remoteUrl}/categories/list?...&app_key=${apiKey}`)
        .then(resp => resp.json())
    },
    eventsZipcode: (userCategoryChoice, zipcode) => {
        return fetch(`${remoteUrl}/events/search?...&keyword=${userCategoryChoice}&location=${zipcode}&date=Future&app_key=${apiKey}`)
        .then(resp => resp.json())
    },
    eventsLocations: (userCategoryChoice, coordinates, radius) => {
        return fetch(`${remoteUrl}/events/search?...&keyword=${userCategoryChoice}&location=${coordinates}&within=${radius}&units=miles&date=Future&app_key=${apiKey}`)
    }
}